
.jumbotron {
    text-align: center;
    background-color: orange;
    color: maroon;
    margin-bottom: 0;
    transition: 0.3s;
}

.jumbotron:hover {
    background-color: rgb(101, 55, 207);
    color: rgb(111, 233, 117);
    transition: 0.3s;
}

.container {
    height: 100%;
}

.navbar-custom {
    color: purple;
    background-color: burlywood;
}

.sydney {
	background-image: url("sydney-darlingHarbour.jpg");
	height: 50%;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

