
.jumbotron {
    text-align: center;
    text-shadow: 2px 2px 2px black;
    background-color: blue;
    color: rgb(255, 60, 0);
    margin-bottom: 0;
    transition: 0.3s;
}

.jumbotron:hover {
    background-color: rgb(101, 55, 207);
    color: rgb(111, 233, 117);
    transition: 0.3s;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 400px;
}

.navbar-custom {
    color: purple;
    background-color: rgb(16, 119, 62);
}

.sydney {
	background-image: url("sydney-darlingHarbour.jpg");
	height: 100%;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

